---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Date'
    value: page._date
  - label: 'Creator'
    value: page.creator
  - label: 'Source'
    value: page.source
  - label: 'Source Link'
    value: page.sourcelink
    type: link
  - label: 'Repository'
    value: page.repository
  - label: 'Collection'
    value: page.papers
  - label: 'Location'
    value: page.location
  - label: 'Data from this source in spreadsheet form'
    value: _data 
    type: link
---
